:root {
  /* font family */
  --ff: "Kumbh Sans", sans-serif;

  /* primary color */
  --orange-400: hsl(26, 100%, 55%);
  --orange-100: hsl(25, 100%, 94%);

  /* neutral color */
  --white: hsl(0, 0%, 100%);
  --grayish-blue-100: hsl(223, 64%, 98%);
  --grayish-blue-300: hsl(220, 14%, 75%);
  --grayish-blue-500: hsl(219, 9%, 45%);
  --grayish-blue-900: hsl(220, 13%, 13%);
  --black: hsl(0, 0%, 0%);
  --black-bg: hsla(0, 0%, 0%, 0.75);

  /* opacity level */
  --op: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: var(--ff);
  background-color: var(--white);
}

#main {
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

/*************** navbar *******************/

#nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--grayish-blue-300);
}

.nav-left,
.nav-right {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
}

.nav-right {
  gap: 2rem;
  justify-content: flex-end;
}

.nav-left img {
  height: 20px;
  width: 138px;
  display: flex;
  align-items: center;
}

.nav-links {
  position: absolute;
  top: 2.5rem;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  height: 3.5rem;
}

.nav-links a {
  display: block;
  color: var(--grayish-blue-500);
  font-size: 1rem;
  text-decoration: none;
  height: 100%;
}

.nav-links a:hover {
  color: var(--grayish-blue-900);
  border-bottom: 3px solid var(--orange-400);
}

.cart-status,
.profile-pic {
  display: flex;
  align-items: center;
}

.cart-status {
  flex-direction: column;
}

.item-number,
.cart-items {
  position: absolute;
}

.item-number,
.cart-logo,
.profile-pic {
  cursor: pointer;
}

.item-number {
  position: relative;
  top: 8px;
  left: 10px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-number span {
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--orange-400);
  color: var(--white);
}

.cart-items {
  height: 14rem;
  width: 23rem;
  top: 5rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 5px 15px 3px gray;
}

.cart-items h3 {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
}

.cart-items hr {
  background-color: var(--grayish-blue-300);
  height: 1px;
  opacity: var(--op);
  border: none;
}

.cart-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty span {
  font-size: 18px;
  font-weight: 700;
  color: var(--grayish-blue-500);
}

.not-empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1.4rem;
}

.cart-details {
  display: flex;
  justify-content: space-between;
}

/* image */
.selected-product {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 5px;
}

.cart-details__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--grayish-blue-500);
}

.total {
  color: var(--grayish-blue-900);
  font-weight: 700;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
}

.not-empty button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--orange-400);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.cart-logo img {
  /* make it black */
  height: 20px;
  width: 22px;
}

.profile-pic img {
  height: 3rem;
  aspect-ratio: 1;
  border: 2px solid var(--white);
}

.profile-pic img:hover {
  border-radius: 50%;
  border: 2px solid var(--orange-400);
}
/****************** hero section ********************/

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 4rem;
}

/* product catalogue */

.product-catalogue {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.display-image {
  display: flex;
  justify-content: center;
}

.display-image img {
  height: 25rem;
  aspect-ratio: 1;
  border-radius: 1rem;
}

.other-images {
  display: flex;
  justify-content: space-between;
}

.other-images img {
  height: 5rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--white);
  border-radius: 11px;
  cursor: pointer;
}

/* .thumbnail:hover {
  border: 3px solid var(--orange-400);
} */

.other-images img:hover {
  opacity: var(--op);
}

/* product description */

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-description h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  color: var(--orange-400);
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-description h2 {
  font-size: 45px;
  color: var(--grayish-blue-900);
  font-weight: 700;
}

.product-description p {
  color: var(--grayish-blue-500);
  line-height: 1.5;
  font-size: 1rem;
  margin: 1.5rem 0;
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.prices h3 {
  font-size: 25px;
  font-weight: 700;
}

.prices span {
  background-color: var(--orange-100);
  color: var(--orange-400);
  padding: 3px 7px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.old-price {
  color: var(--grayish-blue-300);
  text-decoration: line-through;
  font-weight: 700;
}

.buttons {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.counter,
.atc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 10px;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--grayish-blue-100);
}

.increase,
.value,
.decrease {
  margin: 0 auto;
}

.increase img {
  height: 12px;
  width: 12px;
}

.decrease img {
  height: 4px;
  width: 12px;
}

.increase,
.decrease,
.atc {
  cursor: pointer;
}

.increase:hover,
.decrease:hover {
  opacity: var(--op);
}

.value span {
  font-weight: 700;
}

.decrease img {
  position: relative;
  bottom: 2px;
}

.atc {
  gap: 1rem;
  background-color: var(--orange-400);
}

.atc:hover {
  opacity: var(--op);
}

.atc span {
  color: var(--white);
  font-weight: 700;
}
